archived
backup

FoF/processing/__pycache__/
FoF/processing/datasets/
todo.txt

FoF/analysis/__pycache__/
FoF/analysis/derived_datasets/
FoF/analysis/figures/
FoF/analysis/export.py

__pycache__
.vscode
testing.py
